<html>
    <head>
        <title>Create A Post</title>
        <style>
		#footer {
    			position: fixed;
    			bottom: 0;
		}
	</style>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- W3schools.CSS IMPORTS -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-metro.css">
    </head>

    <body class="w3-black w3-border w3-border-Indigo">
        <div class="navigationElements">
            <div class="w3-bar w3-black w3-border-bottom w3-border-Indigo" id="navigation">
                <span class="w3-bar-item w3-border-right w3-border-Indigo">Someblogagain</span>
                <a href="https://someblogagain.co.uk/home" class="w3-bar-item w3-button w3-border-right w3-border-Indigo w3-hover-Indigo" style="transition:0.5s">Home</a>
                <a href="https://someblogagain.co.uk/" class="w3-bar-item w3-button w3-border-right w3-border-Indigo w3-hover-Indigo" onclick="logout()" style="transition:0.5s">Log Out</a>
            </div>
    
            <div class="w3-bar w3-black w3-border-top w3-border-Indigo" id="footer" style="position:fixed; bottom:0;">
                <span class="w3-bar-item w3-border-right w3-border-Indigo" style="font-size:14px;">someblogagain built as college project.</span>
                <span class="w3-bar-item w3-border-right w3-border-Indigo" style="font-size:14px;">Email: support@someblogagain.co.uk</span>
                <a href="https://github.com/MalakiaDaley/Blog-Site" class="w3-bar-item w3-button w3-border-right w3-border-Indigo w3-hover-Indigo" style="transition: 0.5s;">GitHub</a>
                <a href="https://someblogagain.co.uk/security" class="w3-bar-item w3-button w3-border-right w3-border-Indigo w3-hover-Indigo" style="transition:0.5s">Security</a>
            </div>
        </div>
        
        <div class="w3-border w3-border-Indigo w3-display-middle" style="margin-top:0px; width:40%">
            <h3 id="profileName" class="w3-border-bottom w3-border-Indigo" style="text-align: center; padding-bottom: 20px;">Profile Name</h3>
            <h3 id="rank" class="w3-border-bottom w3-border-Indigo" style="text-align: center; padding-bottom: 20px;">Rank: </h3>
            <h4 style="text-align: center; height:400px" class="w3-border-bottom w3-border-Indigo" id="aboutme">THIS IS MY ABOUT ME PAGE</h4>
            <h4 align="center" id="userid">UserID: </h4>
        </div>

        <script>
            async function load() {
                const loc = window.location.pathname.split("/profile/")[1].replace("/", "")
                const response = await fetch(`https://someblogagain.co.uk/api/profile/${loc}`)
                const js = await response.json();
                document.getElementById("profileName").innerText = js.username.username
                document.getElementById("userid").innerText = `UserID: ${loc}`
                document.getElementById("aboutme").innerText = `${js.bio}`
                document.getElementById("rank").innerText = `Rank: ${js.rank}`
            }
            load()
        </script>

    </body>
</html>